# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Dependency directories
yarn-debug.log*
yarn-error.log*

# Build directories
dist/
build/

# Environment files
.env

# OS-specific files
.DS_Store

# IDE files
.vscode/
.idea/
